fieldset {
    padding: 20px;
    border: 2;
    border-color: rgba(5,29,64,255);
    border-radius: 1em;
    margin-left: 30%;
    margin-right: 30%;
}

form {
    padding-top: 50px;
    text-align: center;
}

input, select, textarea, button {
    border-radius: 5px;
}

.grupo {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    color: rgba(5,29,64,255);
}

.campo {
    margin-bottom: 1em;
    align-items: center;
}

textarea {
    vertical-align: middle;
}

.botao {
    font-size: 1.2em;
    background: #074269;
    border: 1;
    margin-bottom: 1em;
}