* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #000000;
}

.preload {
    animation-duration: fadeIn 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.cont1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.imagem {
    max-width: 500px;
    max-height: 500px;
    border-radius: 1rem;
    transition: transform .2s;
}

.imagem:hover {
    transform: scale(1.01);
}

img {
    border: 5px dashed #7639f2;
    box-shadow: 10px 10px 30px rgba(64, 80, 111, 0.443);
}

audio {
    border-radius: 2rem;
    border: 5px dotted #7639f2;
}

.cont2 {
    font-size: 35px;
    font-family: 'Chivo Mono', monospace;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
    color: #2e1461;
    text-align: justify;
}

.cont2 .quote {
    font-size: 17px;
    font-family: 'Chivo Mono', monospace;
    color: #2e1461;
}

und {
    transition: transform .2s;
}

und:hover span{    
    color: #7639f2;
    text-decoration: underline;
    text-underline-offset: 10px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes in-out {
    0% {
        transform: scale(1.00);
    }
    50% {
        transform: scale(1.01);
    }
    100%{
        transform: scale(1.00);
    }
}

    @keyframes glow {
        0% { box-shadow: #d1ad0b 0px 0px 0px; }
        50% { box-shadow: #d1ad0b 1px 1px 15px; }
        100% { box-shadow: #d1ad0b 0px 0px 0px; }
    }

.titulo {
    background: -webkit-linear-gradient(rgb(29, 29, 28), #d1ad0b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    animation: fadeIn 5s ease-in-out;
}

.box { 
    background: rgb(8, 8, 8);
    border-radius: 0.5rem;
    border: 5px solid #d1ad0b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 59px;
    margin-bottom: 59px;
    animation: fadeIn 2s ease-in-out, in-out 10s infinite, glow 10s infinite;
}

u {
    background: -webkit-linear-gradient(rgba(31,31,31,1), #d1ad0b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

u:hover {
    background: -webkit-linear-gradient(rgba(31,31,31,1), #920101);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;

    
}